~~~~~Klipper~~~~~ dependencies:

Python2
Python2-pip
Python2 packages:
  - cffi==1.12.2
  - pyserial==3.4
  - greenlet==0.4.15 - had trouble with this. To build and install it on the box you need `gcc` and `python-dev`. Otherwise use the *ipk file I crossbuilt
  - Jinja2==2.10.1

~~~~~Moonraker~~~ dependencies:

Python3
Python3-pip
Python3 packages:
  - pyserial==3.4
  - pillow==8.0.1
  - tornado==6.1.0
  - lmdb==1.1.1 - had issues with it - If you don't manage to install it or moonraker still errors on it switch to an older release of moonraker: https://github.com/Arksine/moonraker/tree/1f61357dd65d6eebf0ca0a119b704331cb21cb33
nginx

## While choosing packages you need you might prefer to selec them with <M> and install them after you create extroot to avoid building larger images than internal storage


## If you can't install python3 packages with opkg or pip and can't finde them inside menuconfig either you can build them by selecting "[*] Advanced configuration options (for developers)". After that a "python3-packages" option will appear inside Languages --> Python --> "python3-packages" -> select it with <M> -> type pacakge names space delimited inside --> "() List of python3 pacakges to install on target"
