~~~~~Klipper~~~~~ dependencies:

Use v19.07 `distfeeds.conf`

* Python2 - install with `opkg install python`
* Python2-pip - install with `opkg install python-pip`
* Python2 packages:
  - cffi==1.12.2 - install with `opkg install python-cffi`
  - pyserial==3.4 - install with `opkg install python-pyserial`
  - greenlet==0.4.15 - had trouble with this. To build and install it on the box you need `gcc` and `python-dev`. Install it with pip 2 not 3 `pip install greenlet==0.4.15` Otherwise use the *ipk file I crossbuilt.
  - Jinja2==2.10.1 - Install it with pip 2 not 3: `pip install jinja2`

~~~~~Moonraker~~~ dependencies:

Use original `distfeeds.conf`

* Python3 - install with `opkg install python3 --force-overwrite`
* Python3-pip - install with `opkg install python3-pip`
* Python3 packages:
  - pyserial==3.4 - install with `opkg install python3-pyserial --force-overwrite`
  - pillow==8.0.1 - install with `opkg install python3-pillow`
  - tornado==6.1.0 - install with `opkg install python3-tornado`
  - lmdb==1.1.1 - had issues with it - I provided a cross-compiled package inside `Packages`. If you don't manage to install it or moonraker still errors on it switch to an older release of moonraker: https://github.com/Arksine/moonraker/archive/eb37ce767d73b064b0260432e4a3323cf8e8d758.zip
  - streaming-form-data==1.8.1 - had issues with it - I provided a cross-compiled package inside `Packages`
* nginx - install with `opkg install nginx-ssl`

~~~~~Duet-Web-Control~~~ dependencies:

Use original `distfeeds.conf`

* Python3 - install with `opkg install python3 --force-overwrite`
* Python3-pip - install with `opkg install python3-pip`
* Python3 packages:
  - tornado==6.1.0 - install with `opkg install python3-tornado`

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

## If you can't install python3 packages with opkg or pip and can't finde them inside menuconfig either you can build them by selecting "[*] Advanced configuration options (for developers)". After that a "python3-packages" option will appear inside Languages --> Python --> "python3-packages" -> select it with <M> -> type pacakge names space delimited inside --> "() List of python3 pacakges to install on target" - `lmdb` and `streaming-form-data` were cross-compiled that way. A single `*ipk` file installs both python packages.
