~~~~~Klipper~~~~~ dependencies:

Python2
Python2-pip
Python2 packages:
  - cffi
  - pyserial
  - greenlet - had trouble with this - had to build it (you can find it in my repo)
  - Jinja2

~~~~~Moonraker~~~ dependencies:

Python3
Python3-pip
Python3 packages:
  - pyserial==3.4
  - pillow==8.0.1
  - tornado==6.1.0
  - lmdb==1.1.1
nginx